
    <h2>Nutritionly</h2>
    <div class="navLink">
        <div class="home nav">Home</div>
        <div class="about nav">About</div>
        <div class="logIn nav">Log In</div>
        <a href="../logIn">Log In</a>
        <div class="contact nav">Contact</div>
    </div>
    <div class="search">
        <form id="searchForm">
            <input type="text" name="search" placeholder="Find Salad's, Grilled Chicken, Juice, ...">
            <input type="text" name="location" placeholder="Near Houston, San Diego, New York, ...">
            <input type="submit" name="submit">
        </form>
    </div>