<div class="navigation">
    <h2>Nutritionly</h2>
    <div class="navLink">
        <div class="home nav">Home</div>
        <div class="about nav">About</div>
        <div class="logIn nav">Log In</div>
        <div class="contact nav">Contact</div>
    </div>
    <form id="submitForm">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="submit">
    </form>
</div>

<div class="leftContainer">
    <% data.forEach(function(d){ %>

        <div class="list">
            <a href="#id/<%= d.id %>">
                <h4><%= d.get('name') %></h4>
                <div class="location">
                    <h6><%= d.get('location').address %></h6>
                </div>
                <div class="url">
                    <p>
                        <a href="<%= d.get('url') %>"><%= d.get('url') %></a>
                    </p>
                </div>
            </a>
        </div>

        <br>

    <% }) %>

</div>

<div class="rightContainer"></div>
<div id="map"></div>
