<header class="navigation">
    <h2>Nutritionly</h2>
    <div class="navLink">
        <a href="../home">Home</a>
        <a href="../About">About</a>
        <a href="../logIn">Log In</a>
        <a href="../contact">Contact</a>
    </div>
    <div class="search">
        <form id="searchForm">
            <input type="text" name="search" placeholder="Find Salad's, Grilled Chicken, Juice, ...">
            <input type="text" name="location" placeholder="Near Houston, San Diego, New York, ...">
            <input type="submit" name="submit">
        </form>
        <form id="signInForm">
            <!-- <h4>Sign In</h4> -->
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password1" placeholder="Password">
            <input type="submit" name="submit">
        </form>
    </div>
</header>
<div class="results">
    <% data.forEach(function(d){ %>

        <div class="list">
            <a href="#id/<%= d.id %>">
                <h4><%= d.get('name') %></h4>
                <div class="location">
                    <h6><%= d.get('location').address %></h6>
                </div>
                <div class="url">
                    <p>
                        <a href="<%= d.get('url') %>">
                            <%=d .get( 'url') %>
                        </a>
                    </p>
                </div>
            </a>
        </div>

        <br>

        <% }) %>

</div>

<div class="sideView"></div>
<div id="map"></div>
