<header class="navigation">
    <h2>Nutritionly</h2>
    <div class="navLink">
        <div class="home nav">Home</div>
        <div class="about nav">About</div>
        <div class="logIn nav">Log In</div>
        <a href="../logIn">Log In</a>
        <div class="contact nav">Contact</div>
    </div>
    <div class="search">
        <form id="searchForm">
            <input type="text" name="search" placeholder="Find Salad's, Grilled Chicken, Juice, ...">
            <input type="text" name="location" placeholder="Near Houston, San Diego, New York, ...">
            <input type="submit" name="submit">
        </form>
        <form id="signInForm">
            <h4>Sign In</h4>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="submit">
        </form>
    </div>
</header>
<form id="signInForm">
    <h4>Sign In</h4>
    <input type="email" name="email" placeholder="Email">
    <br>
    <input type="password" name="password" placeholder="Password">
    <br>
    <input type="submit" name="submit">
</form>
<br>
<form id="registerForm">
    <h4>Register</h4>
    <input type="email" name="email" placeholder="Email">
    <br>
    <input type="password" name="password1" placeholder="Password">
    <br>
    <input type="password" name="password2" placeholder="Retype Password">
    <br>
    <input type="submit" name="submit">
</form>
